<section class="accomodations">
    <div class="contenedor">
        <div class="accomodations-info">
            <div class="texto-info">
                <h2>
                    Welcome to your luxurius home away from home
                </h2>
                <p>
                    Write a paragraph that talks about your brand or property here.
                    Convince your prospective clients to choose you and your offerings
                    by highlighting the qualities that set your aport from the competition.
                    Your audience is already on your website, so push a little bit harder
                    to seal the deal!.
                </p>

            </div>
            <div class="contenido-derecha">
            </div>
        </div>

        <h2 class="acomodations-titulo">Accommodations</h2>

        <div class="acomodations-catalogo">
            <div (click)="verHabitacion()">
                <div>
                    <img src="/assets/img/hotelroom.jpg" alt="">
                </div>
                <div class="contenedor-info-tarjeta activo">
                    <p>2 adults | 1 child below 7</p>

                    <h3>De Luxe Room</h3>
                    <span>from $189 a night</span>
                </div>
            </div>
            <div (click)="verHabitacion()" >
                <div>
                    <img src="/assets/img/roof.jpg" alt="">
                </div>
                <div class="contenedor-info-tarjeta">
                    <p>2 adults | 1 child below 7</p>

                    <h3>De Luxe Sea View</h3>
                    <span>from $209 a night</span>
                </div>
            </div>
            <div (click)="verHabitacion()">
                <div>
                    <img src="/assets/img/travel.jpg" alt="">
                </div>
                <div class="contenedor-info-tarjeta">
                    <p>4 adults | 2 child below 7</p>

                    <h3>The Wellhall Family Suite</h3>
                    <span>from $399 a night</span>
                </div>
            </div>
        </div>
    </div>
</section>