<section class="hero">
    <div class="background">
        <div class="contenedor">
            <nav>
                <a>Login</a>
            </nav>
            <div class="contenedor-informacion">
                <p>Welcome to</p>
                <h1>The Wellhall</h1>
                <h2>Resort & Spa Hotel</h2>
                <a class="btn-info">Learn more</a>
            </div>
        </div>
    </div>
</section>
<app-accommodatios></app-accommodatios>
<app-thefamilysuite></app-thefamilysuite>
<app-inthepress></app-inthepress>
<app-thewellhall></app-thewellhall>