<section class="suites">
    <div class="contenedor">
        <div class="family-suite">
            <div class="contenedor-suite">
                <h2>The Family Suite</h2>

                <p>
                    Showcase the best your property has to after by
                    highlighting one of your accomodations, Add a flattering photo.
                    then describe the room´s best feature.
                </p>
            </div>

            <div class="contenedor-suite-foto">
                <div>
                    <img src="/assets/img/hotel.jpg">
                </div>
                <div class="contenedor-texto">
                    <p>
                        An intriguing caption that describes the room goes here.
                        Use a flattering photo. then describe away!
                    </p>
                </div>
            </div>
        </div>
        <div class="contenedor-fotos-flattering">
            <div class="fotos-flattering">
                <div class="flattering-alto">
                    <img src="/assets/img/apartment.jpg">
                </div>
                <div class="contenedor-texto">
                    <p>
                        An intriguing caption that describes the room goes here.
                        Use a flattering photo. then describe away!
                    </p>
                </div>
            </div>
            <div>
                <div class="flattering-alto">
                    <img src="/assets/img/modern.jpg">
                </div>
                <div class="contenedor-texto">
                    <p>
                        An intriguing caption that describes the room goes here.
                        Use a flattering photo. then describe away!
                    </p>
                </div>
            </div>
        </div>

    </div>
  
</section>

<section>
    <div class="contenedor-promos">
        <h2>Promos And Offers</h2>

        <div class="contenedor contenido-promos">
            <div (click)="verPromos()">
                <div>
                    <img src="/assets/img/student.jpg" alt="">
                </div>
                <div class="promos-tarjeta">
                    <h3>Early Bird Discount</h3>
                    <p>
                        List your offers, promos, or special
                        membership privileges and perks here to
                        entice people to book your property
                    </p>
                </div>
            </div>
            <div (click)="verPromos()">
                <div>
                    <img src="/assets/img/women.jpg" alt="">
                </div>
                <div class="promos-tarjeta">
                    <h3>Wellhall Members Club</h3>
                    <p>
                        List your offers, promos, or special
                        membership privileges and perks here to
                        entice people to book your property
                    </p>
                </div>
            </div>
            <div (click)="verPromos()">
                <div>
                    <img src="/assets/img/travelPassport.jpg" class="img-pasaporte">
                </div>
                <div class="promos-tarjeta margen">
                    <h3>Book 3 Nights, Get 1 Nights, Free</h3>
                    <p>
                        List your offers, promos, or special
                        membership privileges and perks here to
                        entice people to book your property
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>