<section>
    <div class="background">
        <div class="contenedor">
            <h2 class="press-titulo">In the Press</h2>
            <div class="in-the-press">
                <div class="press-tarjeta">
                    <p>
                        Boost your product and service´s credibility
                        by adding testimonials from your clients.
                        People love recomendations so feedback
                        from others who´ve tried it is invaluable.
                    </p>
                    <p class="tarjeta-guion">-</p>
                    <span>Santa Solana Post</span>
                </div>
                <div class="press-tarjeta">
                    <p>
                        Boost your product and service´s credibility
                        by adding testimonials from your clients.
                        People love recommendations so feedback
                        from others who´ve triend it is invaluable.
                    </p>
                     <p class="tarjeta-guion">-</p>
                    <span>Mariana´s Luxe Travels</span>
                </div>
                <div class="press-tarjeta">
                    <p>
                        Boost your product and service´s credibility
                        by adding testimonials from your clients.
                        People love recommendations so feedback
                        from others who´ve triedit is invaluable
                    </p>
                     <p class="tarjeta-guion">-</p>
                    <span>
                        Fairhill Journal
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>