<section>
    <div class="contenedor">
        <h2>The Wellhall</h2>
        <div class="contenido-thewell">
            <div class="thewell-tarjeta">
                <h3>Reservations Office</h3>
                <div class="thewhell-primero">
                    <p>
                        <img src="/assets/img/ubicacion.png">
                        123 Anywhere St..
                    </p>
                    <p>
                        <img src="/assets/img/telefono-inteligente.png">
                        1123-456-7890
                    </p>
                    <p>
                        <img src="/assets/img/correo.png">
                        hello@reallygreatsite.com
                    </p>
                </div>
            </div>
            <div class="thewell-tarjeta">
                <h3>Office Hours</h3>
                <span>
                    Monday to Friday
                </span>
                <p>9:00 am to 6:00 noon</p>
                <span class="tarjeta-saturday">
                    Saturday
                </span>
                <p>9:00 am to 12:00 noon</p>
            </div>
            <div class="thewell-tarjeta">
                <h3>
                    Get Social
                </h3>

                <div class="thewell-tarjeta-iconos" (click)="verRedes()">
                    <p>
                        <img src="/assets/img/facebook.png">
                    </p>
                    <p>
                        <img src="/assets/img/X.png">
                    </p>
                    <p>
                        <img src="/assets/img/instagram.png">
                    </p>

                </div>
               <div class="btn">
                <a href="" class="thewell-enlace">Tag us in your photos!</a>
               </div>
            </div>
        </div>
    </div>
</section>